/target
/resources/public/node_modules
/resources/public/scss/base
/resources/public/scss/bourbon
/resources/public/scss/neat
/resources/public/Gulpfile.js
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
