{% extends "personal_site/views/templates/wrapper.html" %}

{% block hero %}
<div class="parallax">
    <div class="bg__intro">
        <div class="parallax-inset">
            <h1>Richard Grunert is a...</h1>
            <ul>
                <li>Full-Stack Web Developer</li>
                <li>Android Developer</li>
                <li>Linux Administrator</li>
            </ul>
            <h1>And he wants to build something for you!</h1>
        </div>
    </div>
</div>

<div class="mobile-title-1" style="display: none;">
    <div class="mobile-inset">
        <h1>Richard Grunert is a...</h1>
        <ul>
            <li>Full-Stack Web Developer</li>
            <li>Android Developer</li>
            <li>Linux Administrator</li>
        </ul>
        <h1>And he wants to build something for you!</h1>
    </div>
</div>

{% endblock %}

{% block content %}
<section class="content">

    <p>
        Hi! I'm Richard Grunert, a <em>polyglot, cross-paradigm programmer</em> who's eager to build amazing software and write beautiful code.
        I'm a passionate developer who's worked in multiple languages and with a number of very powerful tools
        -- and now I want to build something for you!
    </p>

    <p>
        You can check out some of my relevant skills below:
    </p>

    <ul class="accordion-tabs">
    <li class="tab-header-and-content">
        <a href="javascript:void(0)" class="is-active tab-link">Full-Stack Web Developer</a>
        <div class="tab-content">
            <p> As a full-stack web developer, I've built complex websites featuring user accounts,
                custom RESTful interfaces, complex database schemas and more.
                Much of my work has been focused on maintaining <a href="/projects/adc">Accident Data Center</a>,
                a Drupal site that averages about 30,000 visits per month.
                I also designed and built <a href="/malbum">Malbum</a>, which is a bit like a private Instagram you can deploy yourself.</p>
        </div>
    </li>
    <li class="tab-header-and-content">
        <a href="javascript:void(0)" class="tab-link">Android Developer</a>
        <div class="tab-content">
            <p>As an Android developer, I wrote and published the game <a href="/projects/lunar-invasion">Lunar Invasion</a> in 2015.
                I've also worked on a host of smaller apps which I've written for my own self-education,
                including a native Android client for <a href="/malbum">Malbum</a> capable of displaying and uploading
                images from phone to server and vice-versa.</p>

            <p>Currently, my focus is on mastering Google's Material Design principles, and applying them to apps I create
            in the future.</p>
        </div>
    </li>
    <li class="tab-header-and-content">
        <a href="javascript:void(0)" class="tab-link">Linux Administrator</a>
        <div class="tab-content">
            <p>As a Linux administrator, I've set up, maintained and repaired servers and desktops running a variety of different distributions.
                I run my own virtual private server (which this site is running on!) and am very comfortable on the command-line and with shell scripts.
                I'm proficient with high-end web servers, and deploying open source software is a breeze.
                I also work with Windows and OSX machines on a daily basis.</p>
        </div>
    </li>
    </ul>

    <p>
        I thrive on facing new challenges and always relish the chance to learn a new tool or framework.
        Each project is a new opportunity to expand my skillset, and I'm a very fast learner who
        <em>can quickly make sense of vast technological complexity.</em>
        While I personally prefer functional programming languages, I'm also very comfortable working in an object-oriented style.
    </p>

    <p>
        The thing I want to emphasize most is that I'm always <em>very eager to broaden my skillset.</em>
        Check out the rest of this site to get an idea of things I've worked on in the past,
        or, better yet, check out my <a href="/resume">resume</a> or <a href="http://github.com/Rgun">GitHub.</a>
    </p>

    <p>
        Give me the chance to write your code and I promise you wont be disappointed!
    </p>

    <p>
        I graduated with a Bachelor's from Western Washington University in 2013.
        I'm also a published writer who's written for a <a href="http://www.wweek.com/search/richard+grunert/?q=richard+grunert">
        large metropolitan weekly.</a>
    </p>
</section>


<a name="languages"></a>

<div class="parallax">
    <div class="bg__second">
        <div class="parallax-overlay">
            <h1>Languages</h1>
        </div>
    </div>
</div>

<div class="mobile-title-2" style="display: none;">
    <div class="mobile-inset">
        <h1>Languages</h1>
    </div>
</div>



<section class="content">

    <div class="flex-boxes">
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">Java</h1>
            <p>My best language! I've written the more Java code than anything else, and use it primarily to write Android apps.
                Recently, I've been having a lot of fun with Java 8's features -- lambdas and streams are a lot of fun!</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">Clojure</h1>
            <p>My favorite language! Clojure is a dialect of Lisp that runs on the JVM and compiles to Java bytecode.
                I think programming in Lisp is great fun and use it mostly for small,
                quick projects when I don't want to deal with the syntactical verbosity of Java. This site's software is written in Clojure.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box flex-box-big">
            <h1 class="flex-title">PHP</h1>
            <p>My first language! PHP is how I got started doing web development, and while I prefer other languages today,
                I still need to dive back into it every once in a while to debug existing code.
                My first ever project, Athena, was written in PHP, as well as a custom Drupal module I wrote for Accident Data Center.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">Python</h1>
            <p>Another language I use for small, quick scripts. I've mostly used Python to write custom web spiders using the Scrapy framework. </p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">JavaScript</h1>
            <p>An impossible-to-escape language for any web developer, I use JS to write front-end functionality for web pages I create.
                When possible, I prefer to use the jQuery library in place of raw JS, but I'm just as capable of the raw stuff too.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box flex-box-big">
            <h1 class="flex-title">C/C++</h1>
            <p>I'm very comfortable reading and writing C/C++ code. While Java is much more convenient (due to portability reasons)
                for a Linux user like myself,
                I believe every programmer should know and understand how the underlying native system works.
                I've used C/C++ mostly for academic leaning exercises.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">SQL</h1>
            <p>Essential in database work, I use SQL on a daily basis when doing web development.
                I'm as proficient writing queries as I am writing schemas, and have the most experience working with Postgres and MySQL.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">HTML/SCSS</h1>
            <p>HTML and SCSS are my web development bread and butter.
                I commonly use another language to generate HTML strings, which I then style using SCSS.
                I have experience with both XHTML and HTML5.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">Shell Scripts</h1>
            <p>A regular part of any Linux admin's daily routine,
                I've written shell scripts to do everything from routine server maintenance to conveniently wrapping more complex commands.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box flex-box-big">
            <h1 class="flex-title">6502 Assembly</h1>
            <p>Just for fun. I enjoy learning about and writing 6502 assembly as a
                way to better understand how computers work under the hood. One day (when I have time)
                I want to write an NES game directly in 6502.</p>
        </a>
    </div>
</section>

<a name="techs"></a>

<div class="parallax">
    <div class="bg__third">
        <div class="parallax-overlay">
            <h1>Technologies</h1>
        </div>
    </div>
</div>

<div class="mobile-title-3" style="display: none;">
    <div class="mobile-inset">
        <h1>Technologies</h1>
    </div>
</div>


<section class="content">

    <div class="vertical-tabs-container">
        <div class="vertical-tabs">
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">Git</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">Web Frameworks</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">SCSS Frameworks</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">Web Servers</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab5">Responsive Design</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab6">Material Design</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab7">Caching Software</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab8">libGDX / OpenGL ES</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab9">Maven / Gradle</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab10">HTTPS (SSL)</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab11">jQuery</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab12">REST / XML / JSON</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab13">Databases</a>
        </div>

        <div class="vertical-tab-content-container">
            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">Git</a>
            <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
                <p>I use Git just about every day. Most of my work lives on GitHub and Bitbucket,
                    so Git becomes an essential tool for my work. I know how to fork, push, pull, clone, rebase,
                    checkout and all the other essential functions a programmer should know.</p>

                    <p>I use Git mostly from the command line, but have also worked with it through IDE plugins.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">Web Frameworks</a>
            <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
                <p>Web frameworks are essential in web development. While I can code an entire site from scratch,
                    doing so isn't usually a great idea. There's never any reason to reinvent the wheel -- it's a huge
                    waste of time when there's so many free options already out there!</p>

                    <p>Frameworks I've worked with include the Ring/Compojure stack, Bottle and Vert.x.
                    I would consider the programming environment in most large CMS' to be frameworks as well,
                    and have experience in Drupal and Django, mostly.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">SCSS Frameworks</a>
            <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
                <p>Like with web frameworks, there's little reason to completely start from scratch when
                    it comes to front-end visual work. SCSS frameworks have a lot of useful out-of-the-box functionality
                    that makes front-end design much faster and easier.</p>

                    <p>I have experience adding and configuring Bootstrap, Foundation and Bourbon/Neat.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">Web Servers</a>
            <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
                <p>Every site needs a server to run on! I prefer configuring servers directly from the command line
                    using configuration files over limiting options like cpanel. While I work with Apache often,
                    I think Nginx is a more flexible option, as it also is easy to configure and use as a reverse proxy.</p>

                    <p>This site currently runs four different subdomains using Nginx as both a server and reverse proxy.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab5">Responsive Design</a>
            <div id="tab5" class="js-vertical-tab-content vertical-tab-content">
                <p>This technology is closely related to SCSS frameworks, and much of the benefit from using one is
                    that it makes responsive design fast and easy. I have experience applying responsive design
                    principles to sites, including setting breakpoints and knowing which page elements to hide and
                    which to show, depending on the size of the viewing device's screen.</p>

                    <p>Responsive design also involves things like gracefully moving objects around in a flexible grid
                    system. Resize your web browser to phone-size while viewing this page to see what I mean.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab6">Material Design</a>
            <div id="tab6" class="js-vertical-tab-content vertical-tab-content">
                <p>Material design is Android's modern design philosophy.
                    It involves things like "touchable" surfaces and fluid movement between activity screens.
                    I've been studying these new design concepts and hope to include them in my next Android apps.
                </p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab7">Caching Software</a>
            <div id="tab7" class="js-vertical-tab-content vertical-tab-content">
                <p>As part of my work with web servers, I've often been required to use HTTP caching software in order
                    to speed up slow a CMS like Drupal. Most of my experience is with Varnish, but the concepts behind
                    caching aren't complex and I should be able to learn a new caching tool quickly.
                </p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab8">libGDX / OpenGL ES</a>
            <div id="tab8" class="js-vertical-tab-content vertical-tab-content">
                <p>
                    My game Lunar Invasion made extensive use of OpenGL ES to draw itself.
                    I've written plenty of vertex buffers and translation matrices throughout my game,
                    and really enjoy using OpenGL as a drawing platform. My next goal is to learn to write shaders
                    and make my next game look even better.</p>

                    <p>libGDX is a framework that wraps OpenGL. I've been learning it quickly and will likely be using
                    it to speed up development of my next game.
                </p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab9">Maven / Gradle</a>
            <div id="tab9" class="js-vertical-tab-content vertical-tab-content">
                <p>I could have titled this tab "Build Tools", but Maven and Gradle are the two I have the most experience with.
                    I used to use make, but since learning the more powerful tools
                    I've really come to rely on them to keep my larger projects sane.</p>

                    <p>These days I use Gradle mostly, as it's part of the Android app build process.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab10">HTTPS (SSL)</a>
            <div id="tab10" class="js-vertical-tab-content vertical-tab-content">
                <p>With Nginx, it's easy to configure a web server to use SSL. My projects have mostly involved self-signed certificates,
                    but other than your browser giving you a scary-looking warning when you visit a self-signed site, there's no real difference.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab11">jQuery</a>
            <div id="tab11" class="js-vertical-tab-content vertical-tab-content">
                <p>The best JavaScript library that there ever was, jQuery makes front-end web development
                    much faster and easier. My personal favorite part of it is it's AJAX handling;
                    where it turns a complex and browser-specific process into a single line of code.</p>

                    <p>This site uses jQuery for almost every line of JavaScript, including the tabs you're clicking through right now!</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab12">REST / XML / JSON</a>
            <div id="tab12" class="js-vertical-tab-content vertical-tab-content">
                <p>I've built and configured numerous RESTful APIs. APIs I've written have included everything from
                    quick wrappers for a database over a network to full server-client communication.</p>

                    <p>The most extensive RESTful API I've created is part of my Android/server app Malbum,
                    where it uses the API to pass JSON data back and forth.</p>

                    <p>I also have experience creating and parsing both XML and HTML.</p>
            </div>
            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab13">Databases</a>
            <div id="tab13" class="js-vertical-tab-content vertical-tab-content">
                <p>The two database servers I've used most are Postgres and MySQL, though I've dabbled with others.
                    On Android the one to use is SQLite, but relational database concepts are simple, and writing schemas
                    is easy once you understand key relationships and joins.</p>

                    <p>I've also dabbled in graph (NoSQL) databases, though I prefer to use relational ones for most regular projects.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="js/nav.js"></script>
<script src="js/vertical_tabs.js"></script>
<script src="js/accordion_tabs.js"></script>
{% endblock %}
