{% extends "personal_site/views/templates/wrapper.html" %}

{% block content %}
<section class="content">

    <h1>It lives!</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a fringilla odio.
        Fusce sagittis lobortis nisi et posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Etiam eleifend luctus varius. Curabitur placerat mauris et orci eleifend, id posuere lectus vehicula.
        Quisque eu metus non augue molestie euismod eu a ligula. Suspendisse eget ultrices velit, vel pharetra elit. Suspendisse malesuada
        libero eget varius fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Integer vel gravida sapien. Vivamus sed ipsum sit amet metus egestas tristique. Aenean ullamcorper
        risus at neque rhoncus, in elementum odio sollicitudin. Nullam pellentesque neque elit, non elementum nisl consectetur sed. Vestibulum venenatis
        faucibus bibendum.
    </p>
    <p>
        Praesent sit amet nibh porttitor, consequat libero sit amet, lobortis augue. Vivamus bibendum convallis erat.
        Nunc vel urna non augue pellentesque facilisis. Proin lectus arcu, porttitor ut placerat in, gravida quis arcu.
        Maecenas massa lectus, congue in augue sit amet, venenatis fringilla mauris. Ut at neque congue, tempus quam vitae, rhoncus ex.
        Cras malesuada ullamcorper venenatis.
    </p>
    <p>
        Donec tempus, massa ac posuere rhoncus, turpis eros vehicula justo, sit amet malesuada lorem orci sit amet mi.
        Integer euismod mauris eget sapien ullamcorper congue. Ut ac ante neque. Pellentesque eu dapibus turpis.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse ac diam imperdiet,
        tempor nisl eu, consectetur dui. Duis nisi ante, feugiat vel odio ut, pharetra vestibulum leo. Quisque in sollicitudin mauris,
        id vehicula orci. Quisque quis lectus purus. Donec commodo augue at lorem sagittis, et tempus elit condimentum. Nam ut rhoncus augue,
        in maximus enim. Nam sollicitudin turpis felis, at interdum enim auctor eget. Pellentesque tempor quam nibh, ut porta sapien fermentum in.
        Nulla leo odio, ornare ac hendrerit quis, sagittis non nibh. Nulla vel feugiat quam.
    </p>
    <p>
        Nullam consectetur hendrerit purus et interdum. Cras vel ipsum tempus, tristique sapien vitae, pharetra velit.
        Phasellus dignissim varius tortor, eu faucibus mi bibendum eget. Vestibulum congue sed nisl id dictum. Aenean egestas venenatis arcu a convallis.
        Nunc id neque lorem. Vivamus consectetur ante id nunc lacinia, sit amet tempus purus fringilla. Praesent egestas semper nulla at pulvinar.
        Donec vel odio commodo, consequat diam vel, pellentesque turpis. Pellentesque egestas vehicula dictum. Donec a justo et diam vestibulum dictum.
        In sodales metus urna, quis eleifend est convallis eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas in lorem ipsum.
    </p>

    <p>
        Phasellus scelerisque risus eget massa condimentum, sed suscipit mauris ullamcorper.
        Proin tristique urna sed nisi porta fringilla. Fusce sed euismod tortor. Cras risus ligula, luctus quis risus et, tempor tristique libero.
        Nulla nunc justo, euismod at mattis sed, commodo sed arcu. Aenean eleifend nulla nec quam mattis, a rhoncus dolor imperdiet.
        Vivamus ultricies, ante vitae sagittis lacinia, ante sapien suscipit velit, eget elementum risus ligula ac diam.
        Integer at nulla at ipsum elementum euismod at a massa. Suspendisse pharetra sollicitudin tellus et consequat.
        Morbi tempor nulla turpis, nec tempor ante accumsan a.
        Aenean feugiat laoreet finibus. Nullam consectetur lorem id dui venenatis, nec semper lorem aliquet.
        Nam laoreet tellus ut metus vehicula, in tempus felis condimentum. Integer quam ligula, congue molestie maximus sed,
        dapibus et urna. Nullam ultricies tellus vel sapien tempus, id maximus turpis suscipit.
    </p>

    <a name="languages"></a>

    <h2>I've worked in...</h2>
    <div class="flex-boxes">
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">Java</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad nostrum, libero! Laborum distinctio necessitatibus
                voluptates eaque officiis, unde illo, earum voluptatum rerum, reiciendis ipsa ex dolorem a dicta, maxime aliquam.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">Clojure</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae fugiat tenetur fugit atque dignissimos, fugiat natus vitae.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">PHP</h1>
            <p>Lorem adipisicing elit. Voluptas consectetur tempora quis nam, officia tenetur blanditiis in illo dolor?</p>
        </a>
        <a href="javascript:void(0)" class="flex-box flex-box-big">
            <h1 class="flex-title">Python</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quis ipsum, officia, aperiam tenetur dolor molestiae
                voluptate perferendis dolorem vel ex, unde fugit blanditiis sapiente.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">JavaScript</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo obcaecati in provident illo.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">C/C++</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">SQL</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">HTML/SCSS</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">Shell Scripts</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
        <a href="javascript:void(0)" class="flex-box">
            <h1 class="flex-title">6502 Assembly</h1>
            <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
        </a>
    </div>
</section>

<!-- end first content -->

<div class="parallax">
    <div class="bg__second"></div>
</div>

<!-- begin second content -->
<section class="content">

    <a name="techs"></a>

    <h2>I've worked with...</h2>

    <div class="vertical-tabs-container">
        <div class="vertical-tabs">
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">Git</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">Web Frameworks</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">SCSS Frameworks</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">Web Servers</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab5">Responsive Design</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab6">Material Design</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab7">Caching Software</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab8">libGDX / OpenGL ES</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab9">Maven / Gradle</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab10">HTTPS (SSL)</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab11">jQuery</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab12">RESTful APIs</a>
            <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab13">Databases</a>
        </div>

        <div class="vertical-tab-content-container">
            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">Git</a>
            <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id.
                    Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio,
                    quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla.
                    Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt
                    elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">Web Frameworks</a>
            <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
                <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices.
                    Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed.
                    Praesent bibendum.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">SCSS Frameworks</a>
            <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
                <p>Donec mattis mauris gravida metus laoreet non rutrum sem viverra. Aenean nibh libero, viverra vel vestibulum
                    in, porttitor ut sapien. Phasellus tempor lorem id justo ornare tincidunt. Nulla faucibus, purus eu
                    placerat fermentum, velit mi iaculis nunc, bibendum tincidunt ipsum justo eu mauris. Nulla facilisi.
                    Vestibulum vel lectus ac purus tempus suscipit nec sit amet eros. Nullam fringilla, enim eu lobortis dapibus,
                    quam magna tincidunt nibh, sit amet imperdiet dolor justo congue turpis.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">Web Servers</a>
            <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab5">Responsive Design</a>
            <div id="tab5" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab6">Material Design</a>
            <div id="tab6" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab7">Caching Software</a>
            <div id="tab7" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab8">libGDX / OpenGL ES</a>
            <div id="tab8" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab9">Maven / Gradle</a>
            <div id="tab9" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab10">HTTPS (SSL)</a>
            <div id="tab10" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab11">jQuery</a>
            <div id="tab11" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>

            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab12">RESTful APIs</a>
            <div id="tab12" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>
            <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab13">Databases</a>
            <div id="tab13" class="js-vertical-tab-content vertical-tab-content">
                <p>Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Phasellus dui urna, mollis vel suscipit in, pharetra at ligula. Pellentesque a est vel est fermentum
                    pellentesque sed sit amet dolor. Nunc in dapibus nibh. Aliquam erat volutpat. Phasellus vel dui sed
                    nibh iaculis convallis id sit amet urna. Proin nec tellus quis justo consequat accumsan. Vivamus
                    turpis enim, auctor eget placerat eget, aliquam ut sapien.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="js/nav.js"></script>
<script src="js/vertical_tabs.js"></script>
{% endblock %}