{% extends "personal_site/views/templates/wrapper.html" %}

{% block hero%}


{% endblock %}

{% block content %}

<section class="content">

    <p><a href="/pdf/resume_richard_grunert.pdf">Click here for a PDF Version.</a></p>

    <h1>Richard Grunert</h1>

    <h3>Full-Stack Web Developer // Android Developer // Linux Administrator</h3>

    <div class="header">
        <h2>Objective</h2>
    </div>

    <p>To utilize my vast range of skills to write amazing and beautiful code, and to further improve
        my overall skillset by learning from other developers.
    </p>

    <div class="header">
        <h2>About Me</h2>

    </div>

    <p>Computers are my passion; I’ve been working with them daily since I was a small child and
        continue to improve every single day. I learn things I’m interested in very quickly, and nothing
        interests me more than computer systems and software development. I’ve worked with a
        wide range of systems and languages, and can adapt very quickly to new ones I might need
        to learn on the fly.
    </p>

    <p>
        I’ve built $20,000 websites for attorneys, developed my own software and am a huge Linux
        aficionado (though I also work daily with Windows and OSX systems). I run my own servers
        for fun, build websites from scratch and co­administrate a website that gets around 30,000
        hits daily from all over the US. I prefer to write software using functional programming
        conventions, but I’m also well­versed in the Object­Oriented style.

    </p>

    <p>
        In 2015 I led a team that developed and published Lunar Invasion, a game for Android
        smartphones that’s currently available on the Google Play Store. I’m also a published writer.
    </p>

    <p><em>Please explore the rest of my site to get a better feel for my work and experience. It's pretty cool,
    I promise!</em></p>


    <div class="header">
        <h2>Technologies</h2>
    </div>

    <p>Please see the <a href="/#techs">main page</a> for the list.</p>

    <div class="header">
        <h2 class="header">Languages</h2>
    </div>

    <p>Please see the <a href="/#languages">main page</a> for the list.</p>

    <div class="header">
        <h2 class="header">Experience</h2>
    </div>

    <table class="tables">
        <tr>
            <th>Company</th><th>Role</th><th>Timeframe</th>
        </tr>
        <tr>
            <td>Accident Data Center</td><td>Developer / Asst. Webmaster</td><td>2015 - Present</td>
        </tr>
        <tr>
            <td>Brett Law</td><td>Web Developer</td><td>2014 - 2015</td>
        </tr>
        <tr>
            <td>Freelance work</td><td>Programmer</td><td>2013 - Present</td>
        </tr>
    </table>

    <div class="header">
        <h2 class="header">Education</h2>
    </div>

    <table class="tables">
        <tr>
            <th>School</th><th>Degree</th><th>Timeframe</th>
        </tr>
        <tr>
            <td>Western Washington University</td><td>BA Journalism, Minor: Arabic</td><td>2009 - 2013</td>
        </tr>
    </table>


</section>

{% endblock %}

{% block scripts %}
<script src="/js/nav.js"></script>
{% endblock %}